<div class="mx-4 py-4 md:px-20">
  <div class="grid grid-cols-12">
    <app-search (searchEmitter)="searchEmitted($event)"></app-search>
  </div>

  <ng-container *ngIf="media$ | async as media; else loadingMediaItem">
    <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      <div *ngFor="let mediaItem of media.results">
        <app-media-item [mediaItem]="mediaItem" [mediaType]="mediaType" class="h-[425px] w-[325px]"></app-media-item>
      </div>
    </div>

    <div class="mt-4 grid grid-cols-1">
      <p-paginator (onPageChange)="pageChanged($event)" [rows]="20" [totalRecords]="media.total_results"></p-paginator>
    </div>
  </ng-container>
</div>

<ng-template #loadingMediaItem>
  <div class="container grid grid-cols-5 gap-4">
    <ng-container *ngFor="let _ of mediaItemCount">
      <p-skeleton width="" height="20rem"></p-skeleton>
    </ng-container>
  </div>
</ng-template>
