<div class="container py-4">
  <div class="mb-4 grid grid-cols-12">
    <div>
      <app-search (searchEmitter)="searchEmitted($event)"></app-search>
    </div>
  </div>

  <!-- List media -->
  <ng-container *ngIf="media$ | async as media; else loadingMediaItem">
    <div class="mb-4 grid grid-cols-5 gap-4">
      <div *ngFor="let mediaItem of media.results">
        <app-media-item [mediaItem]="mediaItem" [mediaType]="mediaType"></app-media-item>
      </div>
    </div>

    <!-- Paginator -->
    <div class="grid grid-cols-1">
      <div>
        <p-paginator (onPageChange)="pageChanged($event)" [rows]="20" [totalRecords]="media.total_results"></p-paginator>
      </div>
    </div>
  </ng-container>
</div>

<!-- loading media items -->
<ng-template #loadingMediaItem>
  <div class="container grid grid-cols-5 gap-4">
    <ng-container *ngFor="let _ of mediaItemCount">
      <p-skeleton width="" height="20rem" />
    </ng-container>
  </div>
</ng-template>
