<ng-container *ngIf="media$ | async as media; else loadingTabView">
  <!-- Brackets around media in order to pass an object to a variable that is expecting an array -->
  <app-slider [slides]="[media]" [isHeader]="true"></app-slider>

  <p-tabView>
    <!-- Overview tab panel -->
    <p-tabPanel header="Overview">
      <div class="mx-4 flex gap-4 md:mx-20">
        <div>
          <img [src]="imagesSizes.medium + media.poster_path" alt="" class="max-w-full" />
        </div>
        <div class="">
          <h2 class="label mb-2">Overview</h2>
          <p class="mb-6">{{ media.overview }}</p>

          <div class="stat" *ngIf="media.release_date || media.first_air_date">
            <div class="label">Release Date</div>
            <div class="value">
              {{ media.release_date || media.first_air_date | date: 'dd.MM.yyyy' }}
            </div>
          </div>

          <div class="stat" *ngIf="media.original_language">
            <div class="label">Language</div>
            <div class="value">{{ media.original_language }}</div>
          </div>

          <div class="stat" *ngIf="media.revenue">
            <div class="label">Revenue</div>
            <div class="value">{{ media.revenue | currency }}</div>
          </div>

          <div class="stat" *ngIf="media.runtime">
            <div class="label">Duration</div>
            <div class="value">{{ media.runtime }} min</div>
          </div>

          <div class="stat" *ngIf="media.status">
            <div class="label">Status</div>
            <div class="value">{{ media.status }}</div>
          </div>

          <div class="stat" *ngIf="media.genres">
            <div class="label">Genres</div>
            <div class="value">
              <span>{{ media.genres | addSpace }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Cast carousel -->
      <ng-container *ngIf="mediaCast$ | async as actors">
        <div class="mx-4 md:mx-20">
          <h2 class="mt-12 text-3xl">Cast</h2>
          <p-carousel [value]="actors" [numVisible]="5" [numScroll]="5" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-actor pTemplate="item">
              <div class="flex h-full flex-col gap-2 p-4">
                <img *ngIf="actor.profile_path; else defaultActorPhoto" [src]="imagesSizes.medium + actor.profile_path"
                  alt="" class="w-full rounded-lg object-cover md:max-w-sm" />
                <div class="flex flex-col items-center text-center">
                  <p class="text-sm font-semibold md:text-base">{{ actor.character }}</p>
                  <p class="text-xs text-gray-500 md:text-sm">{{ actor.name }}</p>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </ng-container>
    </p-tabPanel>

    <!-- Videos tab panel -->
    <p-tabPanel header="Videos">
      <ng-container *ngIf="mediaVideos$ | async as mediaVideos; else loadingVideos">
        <div class="mx-4 mt-4 grid grid-cols-1 gap-4 sm:grid-cols-1 md:mx-20 md:grid-cols-2 2xl:grid-cols-3">
          <ng-container *ngFor="let mediaVideo of mediaVideos">
            <app-video-embed [key]="mediaVideo.key"></app-video-embed>
          </ng-container>
        </div>
      </ng-container>
    </p-tabPanel>

    <!-- Photos tab panel -->
    <p-tabPanel header="Photos">
      <ng-container *ngIf="mediaImages$ | async as mediaImages; else loadingPhotos">
        <div class="mx-4 mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:mx-20 md:grid-cols-3 2xl:grid-cols-4">
          <ng-container *ngFor="let mediaImage of mediaImages">
            <p-image [src]="imagesSizes.large + mediaImage.file_path" [alt]="media.title || media.name" width="100%"
              [preview]="true"></p-image>
          </ng-container>
        </div>
      </ng-container>
    </p-tabPanel>
  </p-tabView>
</ng-container>

<!-- Similar shows -->
<ng-container *ngIf="mediaSimilarShows$ | async as mediaSimilarShows; else loadingMedia">
  <app-banner [title]="'Similar Shows'" [media]="mediaSimilarShows"></app-banner>
</ng-container>

<!-- Else template if no actor photo -->
<ng-template #defaultActorPhoto>
  <img class="h-[91%] object-cover" src="../../../../../assets/no-picture.jpg" alt="No Picture" />
</ng-template>

<!-- Skeletons during loading -->
<!-- Loading slider and all tab options -->
<ng-template #loadingTabView>
  <p-skeleton width="" height="35rem" styleClass="mb-4" />
  <div class="container mb-4 flex flex-col gap-4">
    <div class="flex justify-center gap-4">
      <p-skeleton width="7rem" height="3rem" />
      <p-skeleton width="7rem" height="3rem" />
      <p-skeleton width="7rem" height="3rem" />
    </div>
  </div>
  <!-- Loading overview -->
  <div class="container mb-4 flex gap-4">
    <p-skeleton width="18rem" height="25rem" />
    <div class="flex flex-col gap-4">
      <ng-container *ngFor="let _ of overviewSkeletonCount">
        <p-skeleton width="20rem" height="1rem" />
      </ng-container>
    </div>
  </div>
  <!-- Loading cast -->
  <div class="container mb-4">
    <h2 class="text-3xl">Cast</h2>
    <div class="flex justify-center gap-4">
      <ng-container *ngFor="let _ of castSkeletonCount">
        <div class="flex flex-col items-center">
          <p-skeleton width="16rem" height="22rem" styleClass="mb-4" />
          <p-skeleton width="4rem" height="1rem" styleClass="mb-2" />
          <p-skeleton width="4rem" height="1rem" />
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<!-- Loading similar movies -->
<ng-template #loadingMedia>
  <h2 class="container mb-4 text-3xl">Similar Shows</h2>
  <div class="container grid grid-cols-4 gap-4">
    <ng-container *ngFor="let _ of mediaSkeletonCount">
      <p-skeleton width="" height="25rem" />
    </ng-container>
  </div>
</ng-template>

<!-- Loading videos -->
<ng-template #loadingVideos>
  <div class="container grid grid-cols-3 gap-4">
    <ng-container *ngFor="let _ of videoSkeletonCount">
      <p-skeleton width="" height="20rem" />
    </ng-container>
  </div>
</ng-template>

<!-- Loading photos -->
<ng-template #loadingPhotos>
  <div class="container grid grid-cols-4 gap-4">
    <ng-container *ngFor="let _ of photoSkeletonCount">
      <p-skeleton width="" height="20rem" />
    </ng-container>
  </div>
</ng-template>
