@import '../../../../styles/colors';

::ng-deep {
  .p-tabview {
    .p-tabview-nav {
      @apply justify-center;

      li.p-highlight .p-tabview-nav-link {
        color: $primary-color;
      }

      .p-tabview-ink-bar {
        background-color: $primary-color;
      }
    }
  }
}

.stat {
  @apply mb-4 flex;
}

.label {
  @apply w-36 font-bold;
}

.value {
  color: $primary-color;
}
